.flex-container{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.nav-item{
    list-style-type: none;
    display: inline;
    padding: 10px;
}

.nav-items{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 2%;
    margin-left: 60%;
    margin-right: 2%; 
}

.white{
    color: white;
}

.white:hover{
    color: white;
}

.black{
    color: #524F4F;
}

.black:hover{
    color: #524F4F;
}

.one{
    text-decoration: underline;
}

@media screen and (max-width: 1060px) {
    .nav-items{
        margin-left: 45%; 
    }
}

@media screen and (max-width: 700px) {
    .nav-items{
        margin-top: 6%;
        margin-left: 0%;
        
    }
    .nav-item{
        font-size: 15px;
        text-align: center;
      }
  }