.background{
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
}

.page-title{
    font-size: 60px;
    margin-left: 4%;
}

.photo{
    margin-bottom: 5%;
}

.photos{
    margin-top: 5%;
    flex-wrap: wrap; 
}

@media screen and (max-width: 1060px) {
    .page-title{
      font-size: 50px;
    }

  }

@media screen and (max-width: 800px) {
    .page-title{
      font-size: 45px;
      margin-top: 5%;
      text-align: center;
    }

    .background{
      background-attachment: cover;
      position: absolute;
      overflow: auto;
  }
  }