.box{
    box-shadow: 0px 3px 6px;
  }

.image{
    width: 315px;
    height: 417px;
}

@media screen and (max-width: 1060px) {
    .image{
        width: 275px;
        height: 367px;  
    }
}

@media screen and (max-width: 800px) {
    .image{
        width: 315px;
        height: 417px; 
    }

    .box{
        margin-bottom: 15%;
    }
  }