body {
    background: #463C7B,;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #463C7B, #39729C );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #463C7B, #39729C ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}

#sea{
    font-family: Coniferous;
    color: white;
}