.sea-background {
    background: #463C7B,;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #463C7B, #39729C );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #463C7B, #39729C ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

#sea{
    font-family: Coniferous;
    color: white;
}